<!DOCTYPE html>
<html>
<title>S.I.I.C</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Cerrar Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Soluciones Integrales<br>En Informatica y Computactión</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#inicio" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Inicio</a> 
    <a href="#quienes_somos" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Quienes Somos</a> 
    <a href="#proyectos" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Proyectos</a> 
    <a href="#servicios" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Servicios</a> 
    <a href="#contacto" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contacto</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Soluciones Integrales En Informatica y Computactión</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
  </div>
  
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="https://www.w3schools.com/w3images/kitchenconcrete.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
      <img src="https://www.w3schools.com/w3images/livingroom.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <img src="https://www.w3schools.com/w3images/diningroom.jpg" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>

    <div class="w3-half">
      <img src="https://www.w3schools.com/w3images/atrium.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="https://www.w3schools.com/w3images/bedroom.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="https://www.w3schools.com/w3images/livingroom2.jpg" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="w3-container" id="quienes_somos" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Quienes Somos.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>{{ configuracion.quienes_somos }}</p>  
  </div>
  
  <!-- Designers -->
  <div class="w3-container" id="proyectos" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Proyectos.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>{{ configuracion.resena_proyectos }}</p>
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    {% for proyecto in proyectos_list %}
      <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="media/{{proyecto.image}}" alt="John" style="width:100%">
            <div class="w3-container">
              <h3>{{ proyecto.titulo_proyecto }}</h3>
              <p class="w3-opacity">{{ proyecto.tipo_proyecto }}</p>
              <p>{{proyecto.descripcion}}</p>
            </div>
          </div>
      </div>
    {% endfor %}
    
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="servicios" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Servicios.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>{{ configuracion.resena_servicios }}</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Matenimiento de PC</li>
        <li class="w3-padding-16">Instalacion de Sistema Operativo</li>
        <li class="w3-padding-16">Limpieza de PC</li>
        <li class="w3-padding-16">Instalacion de Office</li>
        <li class="w3-padding-16">
          <h2>$ 199</h2>
          <span class="w3-opacity">por PC</span>
        </li>
      </ul>
    </div>
        
    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Instalacion de Camaras</li>
        <li class="w3-padding-16">Instalacion de 4 Camaras</li>
        <li class="w3-padding-16">Configuracion LAN</li>
        <li class="w3-padding-16">Mantenimiento por 6 meses</li>
        <li class="w3-padding-16">
          <h2>$ 249</h2>
          <span class="w3-opacity">por Instalacion</span>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Contact -->
  <div class="w3-container" id="contacto" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contacto.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Póngase en contacto con nosotros.</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Nombre</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Correo</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Mensaje:</label>
      
        <textarea class="w3-input w3-border" name="Message" required></textarea>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Enviar Mensaje</button>
    </form>  
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32"
     style="margin-top:75px;padding-right:58px; text-align: right">
    <p>
        Soluciones Integrales En Informatica y Computacion
    </p>
    <p>
        Direccion: {{ configuracion.direccion }}
    </p>
    <p>
       Telefonos: {{ configuracion.telefono }}    
    </p>
    <p>
        RUC: {{ configuracion.ruc }}  
    </p>
    
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
